Repository TechsCode-Team/PluginPermissions, pull requests merged in 2021-06, with the labels that each got.

#28 Added Money From Mobs plugin
  Permissions/Database.updb
Labels: status > completed, type > permission update

#29 Added EconomyShopGUI plugin
  Permissions/Database.updb
Labels: status > completed, type > permission update

#30 Add Items In Chat Pro
  Permissions/Database.updb
Labels: status > completed, type > permission update

#32 EssentialsX Update
  Permissions/Database.updb
Labels: status > completed, type > permission update

#33 Added BKTeleport (EssentialsX Add-On)
  Permissions/Database.updb
Labels: status > completed, type > new permissions

#34 Minor Corrections
  Permissions/Database.updb
Labels: status > completed, type > permission update

#35 Added EpicCraftingsPlus
  Permissions/Database.updb
Labels: status > accepted, type > new permissions

#36 Updated EssentialsX
  Permissions/Database.updb
Labels: status > completed, type > permission update

#37 Updated KitPvP
  Permissions/Database.updb
Labels: status > completed, type > permission update

#38 Added UltraSkyWars
  Permissions/Database.updb
Labels: status > completed, type > permission update

#39 Added UltraScoreboards
  Permissions/Database.updb
Labels: status > completed, type > permission update
