Repository TechsCode-Team/PluginPermissions, pull requests merged in 2021-05, with the labels that each got.

#20 Permission update on UR
  Permissions/Database.updb
Labels: status > accepted, status > pending, type > permission update

#24 Update Database.updb
  Permissions/Database.updb
Labels: status > completed, type > permission update

#25 Update Database.updb
  Permissions/Database.updb
Labels: status > completed, type > permission update

#26 Added permissions for UltraEditor
  Permissions/Database.updb
Labels: status > completed, type > new permissions

#27 Update Database.updb
  Permissions/Database.updb
Labels: status > completed, type > permission update
